Flask
flask-cors
pandas
numpy
speechrecognition
pyttsx3
google-generativeai
sentence-transformers
faiss-cpu
openpyxl
langchain_classic
langchain_groq
pyaudio
schedule
pydub
pyserial
pyautogui
pygetwindow